<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BUNDLE_ID</key>
	<string>com.88Studios.BookifySync</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.891211825550-qjuftds2380p3ofvkka4d90cjv7bhqo5</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>891211825550-qjuftds2380p3ofvkka4d90cjv7bhqo5.apps.googleusercontent.com</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891211825550-qjuftds2380p3ofvkka4d90cjv7bhqo5</string>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Black</string>
		<string>Poppins-BlackItalic</string>
		<string>Poppins-Bold</string>
		<string>Poppins-BoldItalic</string>
		<string>Poppins-ExtraBold</string>
		<string>Poppins-ExtraBoldItalic</string>
		<string>Poppins-ExtraLight</string>
		<string>Poppins-ExtraLightItalic</string>
		<string>Poppins-Italic</string>
		<string>Poppins-Light</string>
		<string>Poppins-LightItalic</string>
		<string>Poppins-Medium</string>
		<string>Poppins-MediumItalic</string>
		<string>Poppins-Regular</string>
		<string>Poppins-SemiBold</string>
		<string>Poppins-SemiBoldItalic</string>
		<string>Poppins-Thin</string>
		<string>Poppins-ThinItalic</string>
	</array>
</dict>
</plist>
